<head>
    <style>
        body{
            text-align:center;
        }
    </style>
</head>

<body>
    <center>
        <h1> Authors </h1>
        <%= link_to "Authors", authors_path %>
        <h1> Books </h1>
        <%= link_to "Books", books_path %>
    </center>
</body>